:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --primary-white-color: #FFFFFF;
    --accent-color: #2196F3;
    --bgc-button-color: #F5F4FA;
}

.list {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0; 
}

.page-header {
    margin-bottom: 200;
    padding-right: 15px;
    padding-left: 15px;
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    align-items: center;
}

.container-portfolio {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    align-items: center;
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-width: 1px;
    border-color: #EEEEEE;
}


.container-work {
    display: flex;
    width: 1200px;
    align-items: center;
    margin: auto;
    padding: auto;

    justify-content: space-around;
}

.container-work .title {
    margin-bottom: 50px;
}

.conteiner-card {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;    
    padding-right: 15px; 
    padding-top: 94px;
    padding-bottom: 94px;
}

.xrp {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;    
    padding-right: auto; 
}



.card-element {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-style: solid;
    border-color: #EEEEEE;
    border-width: 1px;
}

.card-element:nth-child(3n){
    margin-right: 0;
}

.project .site-card {
    width: 380px;
    background-color: darkgoldenrod;
    margin: 0;
    padding: 0;
}
.project .site-card {
    margin: 0;
    padding: 0;
}

.logo {

    font-family: raleway, sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 93px;
}

.navigation a {
    display: flex;
    align-items: center;
}

.logo .logo-two {
    color: var(--accent-color);
}

.logo-footer {
    display: inline-block;
    font-family: raleway, sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
    margin-bottom: 20px;
}

.logo-footerr {
    display: inline-block;
    font-family: raleway, sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    margin-bottom: 20px;    
}

.logo-twofooter {
    color: var(--accent-color)
}

.page {
    font-family: roboto, sans-serif;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
}

.site-nav {
    display: flex;
    margin: 0;
    padding: 0;    
}

.site-nav .link {
    display: block;
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px; 
    padding-bottom: 32px;
}

.site-nav .item {
    margin-right: 50px;
}

.site-nav .item:last-child {
    margin-right: 0;    
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.auth-nav {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.auth-nav li{
    margin-left: 50px;
}

.auth-nav li:first-child {
    margin: 0;
}

.auth-nav a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.auth-nav a:hover,
.auth-nav a:focus {
    color:var(--accent-color);
}

.list .accent-color {
    color: var(--primary-text-color);
}

.filter-card {
    margin-bottom: 34px;
}

.filter-card .button-filter {
    display: flex;
    width: 1200px;
    margin: auto;
    padding: auto;
    justify-content: center;
}

.button-filter {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 50px;
}

.button-filter li {:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --primary-white-color: #FFFFFF;
    --accent-color: #2196F3;
    --bgc-button-color: #F5F4FA;
}

.list {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0; 
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    flex-wrap: wrap;
}

.page-header {
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-width: 1px;
    border-color: #EEEEEE;
}

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container-work {
    display: flex;
    width: 1200px;
    align-items: center;
    margin: auto;
    padding: auto;

    justify-content: space-around;
}

.container-work .title {
    margin-bottom: 50px;
}

.conteiner-card {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;    
    padding-right: 15px; 
    padding-top: 94px;
    padding-bottom: 94px;
}

.xrp {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;    
    padding-right: auto; 
    justify-content: center;
}



.card-element {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-style: solid;
    border-color: #EEEEEE;
    border-width: 1px;
}

.card-element:nth-child(3n){
    margin-right: 0;
}

.card-element:hover,
.card-element:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project .site-card {
    width: 380px;
    background-color: darkgoldenrod;
    margin: 0;
    padding: 0;
}
.project .site-card {
    margin: 0;
    padding: 0;
}

.logo {

    font-family: raleway, sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
    margin-right: 93px;
}

.navigation a {
    display: flex;
    align-items: center;
}

.logo .logo-two {
    color: var(--accent-color);
}

.logo-footer {
    display: inline-block;
    font-family: raleway, sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000000;
    margin-bottom: 20px;
}

.logo-footerr {
    font-family: raleway, sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    margin-bottom: 20px; 
    margin-right: auto;   
}

.logo-twofooter {
    color: var(--accent-color)
}

.page {
    font-family: roboto, sans-serif;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
}

.site-nav {
    display: flex;
    margin: 0;
    padding: 0;    
}

.site-nav .link {
    display: block;
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px; 
    padding-bottom: 32px;
}

.site-nav .item {
    margin-right: 50px;
}

.site-nav .item:last-child {
    margin-right: 0;    
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.auth-nav {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
    align-items: center;
}

.auth-nav li{
    margin-left: 50px;
}

.auth-nav li:first-child {
    margin: 0;
}

.auth-nav a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.auth-nav a:hover,
.auth-nav a:focus {
    color:var(--accent-color);
}

.list .accent-color {
    color: var(--primary-text-color);
}

.filter-card {
    margin-bottom: 34px;
}

.filter-card .button-filter {
    display: flex;
    width: 1200px;
    margin: auto;
    padding: auto;
    justify-content: center;
}

.button-filter {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding: 0;
    margin-top: 0;
    margin-bottom: 50px;
}

.button-filter li {
    margin-left: 8px;
}

.button-filter li:first-child {
    margin: 0;
}

.hero {
    text-align: center; 
    padding-top: 200px;
    padding-bottom: 200px;  
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero .title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} 

.work .title {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container-features {
    padding-top: 94px;
    padding-bottom: 94px;
    padding-right: 15px;
    padding-left: 15px;
}

.work-card {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.work-card li {
    width: 270px;
    margin-left: 30px;
}

.work-card li::before {
    content: "";
    display: block;
    background-color: #F5F4FA;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
}

.work-card li:nth-child(1)::before {
    background-image: url(../images/Group1.svg);
}

.work-card li:nth-child(2)::before {
    background-image: url(../images/clock\ 1.svg);
}

.work-card li:nth-child(3)::before {
    background-image: url(../images/diagram\ 1.svg);
}

.work-card li:nth-child(4)::before {
    background-image: url(../images/astronaut\ 1.svg);
}

.container .img-work {
    display: flex;
    align-items: center;
}

.img-work .img-card {
    justify-content: center;
    margin-left: 30px;
}

.img-work .img-card:first-child {
    margin-left: 0;
}

.team .title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #F5F4FA;
}

.our-team {
    display: flex;
    width: 1200px;
    margin: auto;
    padding: auto;
    justify-content:space-between;
}

.our-team li {
    height: 428px;
    width: 270px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.our-work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.title-work {
    color: var(--title-text-color);
    margin-right: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.list .title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    padding: 0;
}

.project .title-card {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.title-cardd {
    color: var(--title-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.03em;
}

.par-card {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.03em;
}

.card {
    padding:20px 24px;
}

.xrp .title-card {
    color: var(--title-text-color);
    font-weight: 500;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.18; 
    margin: 0;
    margin-bottom: 4px;
}

.xrp {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.client-section {
    padding-bottom: 94px;
    padding-top: 94px;
    padding-left: 15px;
    padding-right: 15px;
}

.client {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.par {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.footer-par {
    color: var(--primary-text-color);
    font-style: normal;
    display: inline-block;
    margin-bottom: 9px;
}

.map-par {
    color: var(--primary-white-color);
    font-style: normal;
    margin-bottom: 9px;
}

.p-card {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    margin: 0;
}

.list .par-card {
    font-size: 16px;
    line-height: 1.18;
}

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-nav {
    width: 1200px;
}

.footer-nav a:hover,
.footer-nav a:focus {
    color: var(--accent-color);
}

.container-footer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.button-filter button {
    display: block;
    color:var(--title-text-color);
    background-color: var(--bgc-button-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 6px 22px;
    border-style: none;
    margin: 0 auto;
}

.button-filter button:hover, 
button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero .button-order {
    display: block;
    color:var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 32px;
    border-style: none;
    margin: 0 auto;
}

.button-order:focus,
.button-order:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}



    margin-left: 8px;
}

.button-filter li:first-child {
    margin: 0;
}

.hero {
    text-align: center; 
    padding-top: 200px;
    padding-bottom: 200px;  
    background-image: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero .title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
} 

.work .title {
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.container-features {
    padding-top: 94px;
    padding-bottom: 94px;
    padding-right: 15px;
    padding-left: 15px;
}

.work-card {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.work-card li {
    width: 270px;
    margin-left: 30px;
}

.container-work .img-work {
    display: flex;
    align-items: center;
}

.img-work .img-card {
    align-items: center;
    margin-left: 30px;
}

.img-work .img-card:first-child {
    margin-left: 0;
}

.team .title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F5F4FA;
}

.our-team {
    display: flex;
    width: 1200px;
    margin: auto;
    padding: auto;
    justify-content:space-between;
}

.our-team li {
    height: 428px;
    width: 270px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.our-work {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 94px;
}

.title-work {
    color: var(--title-text-color);
    margin-right: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.title {
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}

.list .title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    padding: 0;
}

.project .title-card {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.title-cardd {
    color: var(--title-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.03em;
}

.par-card {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    letter-spacing: 0.03em;
}

.card {
    padding:20px 24px;
}

.xrp .title-card {
    color: var(--title-text-color);
    font-weight: 500;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.18; 
    margin: 0;
    margin-bottom: 4px;
}

.xrp {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.par {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.footer-par {
    color: var(--primary-white-color);
    font-style: normal;
    display: inline-block;
    margin-bottom: 9px;
}

.p-card {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    margin: 0;
}

.list .par-card {
    font-size: 16px;
    line-height: 1.18;
}

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

.footer-nav a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.footer-nav a:hover,
.footer-nav a:focus {
    color: var(--accent-color);
}

.container-footer {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.button-filter button {
    display: block;
    color:var(--title-text-color);
    background-color: var(--bgc-button-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 6px 22px;
    border-style: none;
    margin: 0 auto;
}

.button-filter button:hover, 
button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.hero .button-order {
    display: block;
    color:var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.8;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 32px;
    border-style: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 0 auto;
}


